<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'remote-wiring-experience-public' in resource group 'AppInsights-MakerProjects' -->
  <InstrumentationKey>372893aa-5f08-46d3-a4dc-507371902a42</InstrumentationKey>
</ApplicationInsights>